:root {
  --color-background: #020201;
  --color-background2: #242412;
  --color-foreground: #dfe2c6;
  --color-0: #040403;
  --color-1: #13130f;
  --color-2: #25251f;
  --color-3: #3d3e35;
  --color-4: #5d5e51;
  --color-5: #838473;
  --color-6: #afb19b;
  --color-7: #e2e5c8;
  --color-8: #cfcaf2;
  --color-9: #85f2c0;
  --color-10: #f1b6a1;
  --color-11: #75bbc9;
  --color-12: #f7d2c7;
  --color-13: #67c298;
  --color-14: #bec560;
  --color-15: #bbc24f;
}
