@import "../../styles/palette.css";

.tab-btn {
  width: 10rem;
  height: 1.5rem;
  border: none;
  color: var(--color-foreground);
  margin: 0;
}

.tab-btn.active {
  background: var(--color-background);
}

.tab-btn:not(.active) {
    background: var(--color-1);

}

