@import "../../styles/palette.css";

.tab-btn {
  width: 10rem;
  height: 2rem;
  font-size: 1rem;
  border: none;
  color: var(--color-foreground);
  margin: 0;
  transition: background-color 0.2s
}

.tab-btn.active {
  background-color: var(--color-background);
}

.tab-btn:not(.active) {
    background-color: var(--color-1);

}

